body{
margin: 0;
    min-height: 100vh;
}

h1{font-size: 48px;
    font-weight:extra-bold;
    color: #F9FAF8;}

h2
{
font-size: 36px;
color:#1F2937;
font-weight: extra-bold;
}

.top-header
{
    color: #F9FAF8;
    font-size: 24px;
    padding: 8px 24px;
display: flex;
justify-content: space-around;

}
.First
{
    height: 500px;
  background-color: #1F2937;  
  padding: 8px 24px;

}
.total-bottom-first
{
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
}
.top-pic
{
    max-width: 400px;
}
.bottom-first
{
    max-width: 400px;
margin-left: 120px;
}
.Header-subtext
{color: #E5E7EB;
font-size: 18px;}

.Second{
    height: 400px;
text-align: center;
align-items: center;
justify-content: center;
padding: 30px;
}
.Second-container
{
display: flex;
justify-content: center;
gap: 52px;
}
.second-info
{max-width: 200px;}

.Third{
    height: 300px;
    padding: 30px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 34px;
    padding: 30px;

}
.Fourth{
    height: 200px;
}
.Inner-Fourth
{
background-color: #3882F6;
color: #E5E7EB;
margin: 50px 50px;
display: flex;
justify-content: space-around;
align-items: center;
height: 140px;
border-radius: 5px;
}
h4
{font-size: 30px;
font-weight: bold;
color:F9FAF8 ;
}

.Footer{
    padding: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
}
img
{
    max-height: 30%;
}


a
{
text-decoration: none;
font-size: 18px;
color:#E5E7EB;
}

ul
{list-style: none;
    
    display: flex;
    gap: 40px;
}
button
{background-color: #3882F6;
color: white;
font-size: 24px;
border-radius: 6px;
border-color: white;
padding: 8px 20px;
border-width: thin;
}





